
body {background:#cbeaff;}
#header {background: #43ca83}
#content {background:#cbeaff;}
div.form, div.index, div.view {
 float: none; 
 width: auto;
 border:0; 
}
#header h1, #header h1 a {background:none;}

h2 {background:none; color:#333;}
h3 {background:none; color:#333;}
h4 {background:none; color:#333;}

.splash {margin:0 auto; width:819px;}

.paging {display: none;}

#map,
.shelter-map,
.map {width:100%; height:500px;}


#survivor-location-map-controls {display: none;}

#shelter-info-template {display: none}
.shelter-info-template {margin:10px 0 50px;}

.btn {padding:5px; border-radius: 5px; border:1px solid #000; display: block; text-decoration: none; background:lightgreen; width:80%; margin:0 auto; text-align: center; cursor: pointer;}


.users.form {
	float: none;
	width: 820px;
	border: 0;
	margin: 0 auto;
}

fieldset legend {
	color:#333;
	text-align: center;
}

#investigation-view-col-1 {
	float:left; 
	width:45%;
}
#investigation-view-col-2 {
	float:right; 
	width:45%;
}

table.history {
	background:#eee;
}

table.history td.logo span {
	display: block;
	width:40px;
	height:40px;
}

table.history tr.note td.logo span{
	background-image: url(/img/notes.png)
}

table.history tr.referral td.logo span{
	background-image: url(/img/refer.png)
}

table.history tr.sms td.logo span{
	background-image: url(/img/SMSin.png)
}


table.history tr.smsout td.logo span{
	background-image: url(/img/SMSout.png)
}


.record-location-info {
	padding:20px;
	margin:20px;
}